body {
    display: grid;
    place-content: center;
    min-height: 100vh;
}

.cont {
    width: 350px;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid gray;
    gap: 5em;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 5em;
    width: 75%;
}

form input {
    width: 100%;
    padding: 0.5em;
    border-radius: 3px;
    border: 1px solid #cccccc;
    background: darkgray;
}

::placeholder {
    color: white;
    font-weight: 300;
}

form input[type="submit"] {
    background: var(--blue-color);
    border-radius: 7px;
    border: 0;
    cursor: pointer;
}

h4 a {
    color: var(--blue-color);
}

.show {
    display: flex;
}

.hide {
    display: none;
}